*.cpp
*.h
*.o
*.spec
.vscode/*
.settings
*.exe
*.xml
*.json
*.txt
progress
execute
build/*

LF/bin/*
LF/lib/*
LF/out/*
LF/share/*
LF/build/*
LF/include/*
LF/src-gen/*
LF/lib64/*
.project
CMakeLists.txt
.lf-cpp-marker
