*.cpp
*.h
*.o
*.spec
.vscode/*
.settings
*.exe
*.xml
*.json
*.txt
progress
execute
build/*
Old/build/*

Old/LF/bin/*
Old/LF/lib/*
Old/LF/out/*
Old/LF/share/*
Old/LF/build/*
Old/LF/include/*
Old/LF/src-gen/*
Old/LF/lib64/*

LF/bin/*
LF/lib/*
LF/out/*
LF/share/*
LF/build/*
LF/include/*
LF/src-gen/*
LF/lib64/*
.project
CMakeLists.txt
.lf-cpp-marker
